/* algemeen */
*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
}

@font-face{
    font-family: font;
    src: url(../css/A-Space\ Black\ Demo.otf);
}

body{
    overflow-x: hidden;
    background-image: url("../images/BackgroundSite.png");
    background-size: cover;
    background-position: center center;
}

.logoItem{
    width: 50px;
    height: 50vh;
}

a{
    text-decoration: none;
    color: white;
    font-family: font;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    background: rgba(104, 104, 104, 0.23);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 10px 0;
    align-items: center;
}

#navbarHome{
    margin-left: 30vw;
}

#navbarEvent{
    margin-left: 2vw;
}

#navbarArtiesten{
    margin-left: 2vw;
}

#navbarAanbiedingen{
    margin-left: 2vw;
}

#navbarContact{
    margin-left: 2vw;
}

#navbarOverig{
    margin-left: 2vw;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
}

ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
}

.dropdown li a{
    padding: 10px;
}

ul li ul.dropdown li{
    display: block;
    padding: 5px;
    margin-left: -60px;
    background-color: rgba(104, 104, 104, 0.23);
}

ul li ul.dropdown{
    padding: 5px;
    z-index: 999;
    display: none;
    position: absolute;
}

ul li a:hover{
    background: #7f5d00;
}

ul li:hover ul.dropdown{
    display: block;
}

footer{
    width: 100%;
    height: 500px;
    background-color: rgba(137, 129, 129, 0.402);
    display: flex;
    justify-content: center;
    text-align: center;
}

#socials{
    width: 40px;
    height: 40px;
}
#ft {
    font-size: 35px;
}

footer, h1, p {
    font-size: 27px;
    color: white;
}




/* home page */



#home-s1 img{
    width: 22%;

}
#home-s1{
    display: flex;
    text-align: center;
}
#titel{
    font-size: 400%;
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 3%;
}
.containerSlideShow{
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2rem;
    background: rgba(104, 104, 104, 0.23);
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.244);
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 24px;
    padding-bottom: 60px;
}

.slider::-webkit-scrollbar{
    width: 0%;
    size: 200%;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    border-radius: 24px;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

#tekstHomepage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin-left: 10vw;
    font-size: 1.5em;
    padding-bottom: 30vh;
    color: #fff;
}

/* product info page */




/* event overzicht page */




/* event details page */
.square {
    margin-top: 50px;
    margin-right: 50px;
    width: 300px;
    height: 300px;
    background-color: blueviolet;
  }

.R{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1{
    margin-top: 50px;
    font-size: medium;
}
h2{
    margin-top: 50px;
    font-size: medium;
}

p{
    margin-top: 50px;

}
.E{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


h3{
    margin-top: 50px;
    font-size: smaller;
}



/* inlog admin page */
form{
    padding: 2rem;
    background-color: rgba(54, 54, 54, 0.276);
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.244);
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
}


.loginerror {
    color: white;
    border: 5px solid #000000;
    border-radius: 72px;
    background-color: rgba(255, 255, 255, 0.244);
    display: flex;
    justify-content: center;
    width: 20vw;
    align-items: center;
}

.formInlogAdmin{
    color: #fff;
}

#h2TekstIA{
    margin-left: 40vw;
    color: #fff;
}



/* artiesten overzicht */

TR{
text-decoration-color: white;
}


/* artiesten details */



/* footer{
    display: grid;
} */

h3{
    font-size: smaller;
}


/* aanbiedingen overzicht */

#overzicht{
    display: flex;
    background: rgba(104, 104, 104, 0.23);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 10px 0;
    align-items: center;
}
#overzicht a{
    text-align: center;
}


/* aanbiedingen details */

#details p {
    font-size: 200%;
}
#details{
    display: flex;
    background: rgba(104, 104, 104, 0.23);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 10px 0;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 80vw;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right:10%;

}


/* contact page */

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid black;
    border: 1px solid white;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
}
  .container {
    margin-top: 15vh;
    margin-bottom: 15vh;
    border-radius: 5px;
    background-color: rgba(104, 104, 104);
    background-color: rgba(104, 104, 104, 0.23);
    padding: 20px;   
}
#mainContact{
    display: flex;
    justify-content: center;
}

.textLabel{
    color: white;
}
input[type=submit] {
    background-color: rgb(90, 89, 89);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  input[type=submit]:hover {
    background-color: black;
  }

